@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    /* nav end */
    .brand-text h1{
        font-size: 2.5rem;
    }
    .main-top-section{
        flex-direction: column;
    }
    .top-img-gallery{
        width: 95%;
    }
    .top-section-text{
        width: 95%;
    }
    .features{
        flex-direction: column-reverse;
    }
    .features-text{
        width: 95%;
        margin-top: 20px;
    }
    .features-img{
        width: 95%;
    }
    .exp-butt{
        font-size: 18px;
        position:none;
        bottom: 0;
        left: 20%;
        text-align: center;
    }
    .facts{
        margin-top: 40px;
    }

}