
*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: Work Sans;
}
header{
    background-color: #FF900E1A;
    padding: 60px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav .name{
    font-size: 1.4rem;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 10px 0;
    padding-left: 20px;
    cursor: pointer;
}
/* <!-- barand star --> */
.brand{
    margin-top: 50px;
    /* text-align: center; */
}
.brand-text{
    width: 80%;
    text-align: center;
    margin: auto;
}
.brand-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.brand-text button{
    margin: 30px;
}

.brand-img img{
    width: 100%;
}
/*  */
/* <!-- main start --> */
main{
    margin: 20px 13%;
}
.main-top-section{
    display: flex;
    justify-content:space-between;
}
.top-img-gallery{
    width: 500px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px;
}
.top-section-text{
    width: 500px;
    padding: 60px 20px;
}
.top-img-gallery img{
    width: 176px;
}
.top-section-text p{
    margin: 20px 0;
}
/* <!-- main-top-section end --> */
.features{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.features-text{
    padding-right: 30px;
}
.feat-top-header h1{
    padding:0 30px;
    border-left: 5px solid #FF900E;
    margin-bottom:20px ;
}
.features-text{
    width: 50%;
}
.features-text p{
    color: #424242;
    margin: 10px 0;
}
.feat-secound-part{
    margin: 30px 20px;
}
.feat-secound-part h3{
    margin-top: 15px;
}
.features-img{
    width: 50%;
}
.features-img img{
    width: 100%;
    height: 90%;
}
.exp-butt{
    font-size: 18px;
    position: relative;
    bottom: 130px;
    left: 46%;
}

/* <!--  section features end --> */
/* <!-- facts section start--> */
.facts{
    width: 100%;
}
.facts-titel{
    width: 400px;
}
.facts h1{
    margin: 10px 0;
}
.revew{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 10px;
}
.small-part{
    width: 140px;
    border: #424242 solid 1px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color: #424242;
}
.small-part:hover img{
    transform: rotate(-360deg);
    transition: 2s;
}
.small-part p{
    font-size: 1rem;
}
/* 
<!-- sponspors section strat--> */
.sponsore-text{
    text-align: center;
    width: 300px;
    margin: auto;
}
.sponspors{
    margin-top: 50px;
}
.spon-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 30px;
}
.img{
    width: 100px;
}
.img img{
    width: 100%;
    background-blend-mode:color-dodge;
    background-color: #3d3c3c57;
}

.body-part-three{
    background-color: #ffcc92;
    background-image: url("/images/watch.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    padding: 10%;
    margin: 100px 0;
}
.body-part-three h1{
    margin: 10px 0;
    width: 40%;
}


/* <!-- footer start -->  */
.footer{
    background-color: #FFF4E7;
    text-align: center;
    height: 50px;
    padding: 30px;
}



.butt-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: #FFFFFF;
}
.text-color-max{
    color: #424242;
}
.text-color-light{
    color: #FF900E;
}